*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --gray:#202123;
    --maincon:#363642;
}

.flex{
    /* border: 1px solid red; */
    /* height: 100vh; */
    display: flex;
}

.side-container{
    margin: 0px;
    /* border: 1px solid green; */
    background-color: black;
    /* overflow: scroll; */
}

.top-container{
    /* border:1px solid red; */
    padding: 10px;
    background-color: black;
    position: sticky;
    top: 0;
}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 12px;
    /* border: 1px solid red; */
    border: none;
    width:250px;
    height: 50px;
    color: white;
    font-size: 16px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap:8px;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 0;
}

button:hover{
    background-color: var(--gray);
}

.nav-logo{
    background-color: white;
    border-radius: 50%;
    height: 30px;
}

.nav-edit{
    /* border: 1px solid green; */
    height: 18px;
    position: absolute;
    right: 20px;
    
}

.predays{
    /* border: 1px solid green; */
    color: rgb(120, 113, 113);
    margin: 30px 0px 0 12px ;
}

.con1{
    /* border: 1px solid blue; */
    margin: 0 30px 0 5px;
    padding: 12px 25px 0 7px;
    border-radius: 12px;
    height: 30px;
    border-radius: 6px;
    color: white;
    /* overflow: scroll; */
}

.con1:hover{
    background-color: var(--gray);
}

.preyear{
    color: rgb(120, 113, 113);
    margin: 30px 0px 0 12px ;
}

/* bottom sticky */

.bottom-container{
    position: sticky;
    bottom: 0;
    /* border: 1px solid red; */
    padding: 10px;
    background-color: black;
}



.glitter{
     border-radius: 50%;
     height: 20px;
      
}

.upgrade-plan span{
    font-size: 10px;
    color: #808080;
}


.photo{
    border-radius: 50%;
    height: 35px;
}

.kirthika{
    font-weight: bold;
}


/* main con */


.main-container{
    /* border:1px solid blue; */
    background-color: var(--maincon);
}

no-gray{
    color: rgb(212, 202, 202);
}

.down-arrow{
    /* border: 1px solid red; */
    height: 18px;
}

/* centerpart */

.centerpart{
    /* border: 1px solid red; */
    /* margin-left: 500px; */
    margin-top: 110px;
    padding-left: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
}
.centerlogo{
     background-color: white;
    border-radius: 50%;
    /* border: 1px solid red; */
    width: 80px;
    height: 80px;
    margin-left: 60px;
}

.centertext{
    /* border: 1px solid red; */
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* 4boxes */

.boxes{
    /* border: 1px solid red; */
    margin: 170px 0px auto;
    padding-left:330px;
    padding-right: 200px;
    padding-top: 50px;
}

.box1{
    border: 1px solid rgb(124, 120, 120);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-top: 10px;
   width: 350px;
}

.box1:hover{
    background-color: #40404b;
}

.box1-content{
    /* border: 1px solid red; */
    padding: 10px;
}

.box-flex{
    display: flex;
    gap: 15px;
}

.box-title{
    color: #cbced5;
    font-weight: bold;
}

.box-desc{
    color: #686b74;
}

.up-arrow{
    height: 23px;
    width: 23px;
    opacity: 0.3;
}


/* message box */

.message{
    border: 1px solid rgb(83, 80, 80);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-top: 10px 0px auto;
   width: 718px;
}

.message-content{
    /* border: 1px solid red; */
    padding: 14px;
}

.message-box{
    /* border: 1px solid red; */
    margin: 0px auto;
    padding-left:330px;
    padding-right: 200px;
    padding-top: 10px;   
}

.msg-title{
    color: #686a70;
    font-weight: bold;
}

/* mistakes */

.mistakes{
    /* border: 1px solid red; */
    color: rgb(206, 202, 202);
    padding-left: 450px;
    margin-top: 10px;
    font-size: 13px;
}

